@media screen and (max-width: 1366px) {
	.header {
		padding: 10px 0;
	}
	.logo {
		margin-right: 50px;
	}
	.nav {
		font-size: 16px;
	}
	.header-phone {
		&__link {
			font-size: 24px;
		}
		&__text {
			font-size: 14px;
		}
	}
	.title {
		font-size: 42px;
		padding-left: 60px;
	}
	.to-top {
		width: 50px;
		height: 50px;
	}
}
@media screen and (max-width: 1200px) {
	.nav {
		font-size: 14px;
		li {
			margin-right: 15px;
		}
	}
	.products-wrap {
		padding: 30px 40px 70px 40px;
	}
	.product {
		&__content {
			padding: 40px 20px 0 20px;
		}
	}
	.footer-content {
	    padding: 20px 50px 40px 50px;
	}
	.time-buy {
		float: none;
		margin-bottom: 30px;
		&__title {
			margin-bottom: 0;
		}
	}
	.subscribe {
		float: none;
	}
	.to-top {
		bottom: 20px;
		right: 20px;
	}
}

@media screen and (max-width: 992px) {
	.navigation {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 50%;
		bottom: 0;
		background-color: rgba(0,0,0,.95);
		z-index: 10;
		padding: 50px 20px 20px 30px;
		box-shadow: 0 0 30px 2px rgba(0,0,0,.8);
		&__close {
			display: block;
		}
	}
	.nav {
		border-left: 2px solid #FFF;
		padding: 10px 0 10px 20px;
		font-size: 16px;
		li {
			display: block;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				display: inline-block;
				&:hover {
					transform: translate(3px,0);
				}
			}
		}
	}
	.hamburger {
		display: block;
	}
	.logo {
		margin-right: 0;
	}
	.product-wrap {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.header-phone {
		&__link {
			font-size: 20px;
		}
	}
	.title {
		font-size: 36px;
		padding-left: 30px;
	}
	.products {
	    margin: 0 -15px;
	}
	.products-wrap {
	    padding: 30px 30px 70px 30px;
	}
	.product-wrap {
		padding: 0 15px;
		margin-bottom: 30px;
	}
	.product {
		&__content {
		    padding: 30px 15px 0 15px;
		}
		&__sale {
			top: 8px;
		    left: 5px;
		}
		&__elected {
			top: 7px;
		    right: 7px;
		}
		&__img {
			margin-bottom: 20px;
		}
		&__name {
			margin-bottom: 10px;
		}
		&__prop {
			margin-bottom: 10px;
		}
	}
	.product-load-more {
		margin-top: 30px;
		line-height: 50px;
	}
}

@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 576px) {
	.header-wrapper {
		padding: 0 20px;
	}
	.navigation {
		right: 0;
	}
	.title {
		font-size: 36px;
		padding-left: 30px;
	}
	.sorting {
		&__text {
			display: block;
			margin: 0 0 10px 0;
		}
	}
	.product-wrap {
		width: 100%;
	}
	.time-buy {
		&__title {
			font-size: 30px;
		}
	}
	.subscribe {
		display: block;
		&__box {
			margin-right: 0;
			margin-bottom: 20px;
		}
		&__submit {
			width: 320px;
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 320px) {
	
}
