<!-- FOOTER -->
	<footer class="footer">
		
		<div class="to-top on-to-top"></div>

		<div class="container">
			<div class="footer-content clearfix"> <!-- по float'у -->
				
				<div class="time-buy">
					<p class="time-buy__title">Успей купить!</p>
					<p class="time-buy__text">Подпишись и успей словить все акции</p>
				</div>

				<form class="subscribe" action="/#" onsubmit="validation(this); return false;" method="post">
					<div class="subscribe__box">
						<input type="text" name="email" id="email" class="subscribe__input" placeholder="E-mail">
						<label class="subscribe__checkbox checkbox">
							<input type="checkbox" name="check-news" class="checkbox__input" checked>
							<span class="checkbox__fake"></span>
							Подписаться на новости
						</label>
					</div>
					<button type="submit" class="subscribe__submit">Подписаться</button>
				</form>

			</div>
		</div>

	</footer>
<!-- end FOOTER -->

<!-- Подключение javscript -->
	<script src="js/libs.js"></script>
	<script src="js/common.js"></script>
<!-- end -->

</body>
</html>