//= partials/site/_header.html

<!-- Content -->
<main class="content">

	<div class="container">
		
		<h1 class="title">Найдено 666 квартир</h1>

		<div class="products-wrap">
		
			<!-- Сортировка -->
			<div class="sorting">
				<p class="sorting__text">Сортировать по:</p>
				<label class="sorting__variable">
					<input type="radio" name="sorting" value="price" class="sorting__radio" checked>
					<span class="sorting__value">Цене</span>
				</label>

				<label class="sorting__variable">
					<input type="radio" name="sorting" value="rooms" class="sorting__radio">
					<span class="sorting__value">Комнатам</span>
				</label>
			</div>
				
			<!-- Все квартиры -->
			<div class="products" id="products">
				
				<!-- Квартира -->
				<!-- <div class="product-wrap">
					<arlticle class="product product-booked">
						<span class="product__elected product__elected-selected to-elected"></span>
						
						<div class="product__content">
							
							<div class="product__img">
								<img src="images/dynamic/itm-1.jpg" alt="">
							</div>
							
							<h2 class="product__name">Студия №44</h2>
							
							<div class="product__prop">
								
								<p class="product__decor">без отделки</p>
								<p class="product__prop-value"><span>28 м<sup>2</sup></span><br />площадь</p>
								<p class="product__prop-value"><span>12/14</span><br />этаж</p>

							</div>

							<p class="product__price">1 900 000 руб.</p>

						</div>

						<div class="product__status">
							<p>Забронировано</p>
						</div>

					</article>
				</div> -->
				<!-- End квартира -->

			</div>

			<button class="product-load-more to-load-more">Показать еще 20</button>
			
		</div>

	</div>


</main>
<!-- end CONTENT -->

//= partials/site/_footer.html
