@import "partials/_settings";	// Переменные
@import "partials/_fonts"; // Шрифты

// Main
html, 
body {
	width: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	line-height: 1.4;
	font-size: 16px;
	color: $mcolor_one;
	background-color: #faf9ef;
	overflow-x: hidden;
	&.overflow-hidden {
		overflow: hidden !important
	}
}
a {
	transition: all .3s;
}
input,
textarea,
button {
	outline: none;
	&:focus {
		outline: none;
	}
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

// HEADER
.header {
	background-color: $mcolor-one;
	color: #FFF;
	padding: 18px 0;
}
.header-wrapper {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;

	justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;

	align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;

	margin: 0 auto;
	padding: 0 50px;
}
.header-wrapper-left {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;

	justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;

	align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
}
.logo {
	margin-right: 115px;
	img {
		max-width: 200px;
		max-height: 200px;
	}
}
.hamburger {
	width: 25px;
	display: none;
	span {
		background-color: #FFF;
		display: block;
		height: 3px;
		margin: 8px 0;
		border-radius: 4px;
		position: relative;
		transition: inherit;
		&:after,
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			height: 3px;
			background-color: #FFF;
			border-radius: 4px;
			transition: inherit;
		}
		&:after {
			top: -7px;
		}
		&:before {
			bottom: -7px;
		}
	}
	&:hover,
	&:focus {
		span {
			background-color: darken(#FFF,40%);
			&:after,
			&:before {
				background-color: darken(#FFF,40%);
			}
		}
	}
}
.navigation {
	position: relative;
	&__close {
		display: none;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		transition: all .3s;
		&:after,
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 3px;
			background-color: #FFF;
			transform: rotate(45deg) translate(-50%,-50%);
			transform-origin: left top;
			border-radius: 4px;
			transition: inherit;
		}
		&:after {
			transform: rotate(-45deg) translate(-50%,-50%);
		}
		&:hover,
		&:focus {
			transform: rotate(90deg);
			&:after,
			&:before {
				background-color: darken(#FFF, 30%);
			}
		}
		&:active {
			&:after,
			&:before {
				background-color: darken(#FFF, 40%);
			}
		}
	}
}
.nav {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 20px;
	li {
		display: inline-block;
		margin-right: 30px;
		a {
			text-decoration: none;
			color: #FFF;
			display: inline-block;
			&:hover {
				color: darken(#FFF, 20%);
			}
			&:focus {
				color: darken(#FFF, 35%);
			}
			&:active {
				color: darken(#FFF, 40%);
				transform: translate(0, 1px);
			}
		}
	}
}
.header-phone {
	&__link {
		color: #FFF;
		text-decoration: none;
		font-size: 29px;
		display: inline-block;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: 1px;
			background-color: darken(#FFF, 50%);
			transition: inherit;
		}
		&:hover {
			color: darken(#FFF, 20%);
			&:after {
				width: 100%;
			}
		}
		&:focus {
			color: darken(#FFF, 35%);
		}
		&:active {
			color: darken(#FFF, 40%);
			transform: translate(0, 1px);
		}
	}
	&__text {
		margin: 0;
		font-size: 17px;
	}
}


// FOOTER
.footer {
	
}
.footer-content {
	background-color: $mcolor_four;
	color: #FFF;
	padding: 50px 100px 50px 50px;
	border-radius: 4px 4px 0 0;
}
.time-buy {
	float: left;
	&__title {
		margin: 0 0 10px 0;
		font-size: 34px;
		font-weight: 600;
	}
	&__text {
		margin: 0;
	}
}
.subscribe {
	float: right;

	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;

	align-items: flex-start;
	-webkit-box-align: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: flex-start;

	&__box {
		width: 320px;
		max-width: 100%;
		margin-right: 50px;
	}
	&__input {
		width: 100%;
		height: 46px;
		border: none;
		border-radius: 4px;
		padding: 0 10px 0 20px;
	    box-sizing: border-box;
	    margin-bottom: 15px;
	    transition: all .3s;
	    border: 2px solid transparent;
	    &:hover {
		    // box-shadow: inset 0 0 0px 1px $mcolor_two;
		    border-color: lighten(#a7a37e, 10%);
	    }
	    &:focus {
		    // box-shadow: inset 0 0 10px 1px $mcolor_two;
		    border-color: #a7a37e;
	    }
	}
	&__checkbox {
		cursor: pointer;
	}
	&__submit {
		width: 220px;
		border: none;
		color: #FFF;
		background-color: $mcolor_two;
		height: 46px;
		border-radius: 4px;
		text-transform: uppercase;
		cursor: pointer;
		transition: all .3s;
		&:hover,
		&:focus, {
			background-color: darken($mcolor_two, 4%);
		}
		&:active {
			transform: translate(0,1px);
			background-color: darken($mcolor_two, 10%);
		}
	}
}
.checkbox {
	cursor: pointer;
	&__input {
		width: 0;	
		position: absolute;
		visibility: hidden;
		&:checked ~ span:after {
			display: block;
		}
	}
	&__fake {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: #FFF;
		border-radius: 4px;
		position: relative;
		top: 3px;
		margin-right: 5px;
		color: #000;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url(../images/icons/check.png);
			background-repeat: no-repeat;
			background-position: center center;
			display: none;
		}
	}
}
.to-top {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: fixed;
	bottom: 40px;
	right: 40px;
	background-image: url(../images/icons/to-top.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	cursor: pointer;
	transition: all .8s;
	display: inline-block;
	z-index: 9;
	&:hover,
	&:focus {
		transform: translate(0, -3px);
	}
	&:active {
		transform: translate(0, -2px);
	}
	&.hide {
		opacity: 0;
		bottom: -100px;
	}
}

// CONTENT
.content {
	padding-top: 60px;
	display: block;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}
.title {
	margin: 0 0 60px 0;
	padding-left: 100px;
	font-size: 48px;
	line-height: 1.2;
}
.products-wrap {
	background-color: #FFF;
	padding: 30px 100px 70px 100px;
	border-radius: 4px;
	margin-bottom: 70px;
}
.sorting {
	margin-bottom: 40px;
	&__text {
		display: inline-block;
		margin-right: 10px;
	}
	&__variable {
		margin: 0 20px 0 0;
		padding: 0;
		cursor: pointer;
	}
	&__radio {
		width: 0;
		height: 0;
		position: absolute;
		visibility: hidden;
		&:checked ~ span {
			color: #000;
			border-bottom-color: #000;
			&:after {
				transform: rotate(-90deg);
				text-align: center;
			}
		}
	}
	&__value {
		position: relative;
		margin-right: 27px;
		border-bottom: 1px dotted transparent;
		transition: all .3s;
		&:after {
			content: "\276E";
			transform: rotate(90deg);
			width: 18px;
			height: 18px;
			display: inline-block;
			border-radius: 50%;
			background-color: #f5f8f8;
			transition: all .3s;
			position: absolute;
			top: 1px;
			right: -27px;
			line-height: 18px;
			text-align: center;
			font-size: 12px;
			transition: all .3s;
		}
		&:hover {
			color: #000;
			&:after {
				background-color: darken(#f5f8f8, 10%);
			}
		}
		&:active {
			&:after {
				background-color: darken(#f5f8f8, 20%);
			}
		}
	}
}
.products {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;

	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	
	margin: 0 -25px;
}
.product-wrap {
	width: 33.33%;
	padding: 0 25px;
	margin-bottom: 50px;
	box-sizing: border-box;
}
.product {
	position: relative;
	border: 1px solid $mcolor_one;
	border-radius: 3px;
	overflow: hidden;
	max-width: 325px;
	margin: 0 auto;
	&-booked {
		border-color: $mcolor_two;
		.product__status {
			background-color: $mcolor_two;
			font-weight: 600;
		}
	}
	&-sales {
		border-color: $mcolor_three;
		.product__status {
			background-color: $mcolor_three;
			font-weight: 600;
		}
	}
	&__elected {
		position: absolute;
		top: 15px;
		right: 15px;
		background-image: url(../images/icons/star.png);
		width: 19px;
	    height: 18px;
	    background-position: -2px -2px;
	    cursor: pointer;
	    &-selected {
	    	background-position: -25px -2px;
	    }
	    &:after {
	    	content: '';
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	right: 0;
	    	bottom: 0;
	    	background: inherit;
	    	background-position: -25px -2px;
	    	opacity: 0;
	    	transition: all .3s;
	    }
	    &:hover {
	    	&:after {
	    		opacity: .4;
	    	}
	    }
	}
	&__sale {
		position: absolute;
		top: 15px;
		left: 15px;
		font-size: 12px;
		color: #FFF;
		text-transform: uppercase;
		span {
			background-color: $mcolor_five;
			margin-right: 10px;
			padding: 2px 6px;
			border-radius: 4px;
			cursor: default;
		}

	}
	&__content {
		padding: 50px 50px 0 50px;
	}
	&__img {
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;

		align-items: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;

		height: 200px;
		margin-bottom: 40px;
		img {
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	&__name {
		margin: 0 0 20px 0;
		font-size: 22px;
		font-weight: bold;
		line-height: 1.3;
		height: 63px;
		overflow: hidden;
	}
	&__prop {
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;

		justify-content: space-between;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;

		margin-bottom: 30px;
	}
	&__decor {
		width: 70px;
		padding-left: 10px;
		color: $mcolor_four;
		position: relative;
		margin: 0;
		&:after {
			content: "";
			position: absolute;
			top: 3px;
			bottom: 3px;
			left: 0;
			width: 3px;
			background-color: $mcolor_four;
			border-radius: 5px;
		}
	}
	&__prop-value {
		margin: 0;
		font-size: 13px;
		span {
			font-size: 18px;
		}
	}
	&__price {
		margin: 0 0 20px 0;
		font-size: 24px;
		font-weight: 600;
	}
	&__status {
		text-transform: uppercase;
		text-align: center;
		background-color: $mcolor_one;
		display: block;
		color: #FFF;
		line-height: 35px;
		font-size: 12px;
		letter-spacing: 1px;
		cursor: default;
		p {
			margin: 0;
		}
	}
}
.product-load-more {
	text-align: center;
	line-height: 70px;
	background-color: $mcolor_six;
	margin: 0 auto;
	border-radius: 4px;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 600;
	letter-spacing: 1px;
	border: none;
	display: block;
	max-width: 530px;
	width: 100%;
	cursor: pointer;
	transition: all .3s;
	&:hover,
	&:focus {
		background-color: darken($mcolor_six, 4%);
	}
	&:active {
		background-color: darken($mcolor_six, 6%);
		transform: translate(0,1px);
	}
}

@import "partials/_media"; //Всегда в конце
